<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hlidskialf.android.tonepicker"
      android:versionCode="9201"
      android:versionName="0.9.2.1">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application android:label="@string/app_name"
		 android:icon="@drawable/tonepicker">
        <activity android:name=".TonePickerSplash"
                  android:label="@string/app_name"
		  android:icon="@drawable/tonepicker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TonePicker" android:label="@string/app_name"
		  android:icon="@drawable/tonepicker">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- MusicPicker activity from Rings Extended -->
        <activity android:name="com.example.android.rings_extended.MusicPicker" 
		  android:label="@string/musicPickerName"
		  android:icon="@drawable/tonepicker">
            <!-- First way to invoke us: someone asks to get content of
                 any of the audio types we support. -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/ogg"/>
                <data android:mimeType="application/x-ogg"/>
            </intent-filter>
            <!-- Second way to invoke us: someone asks to pick an item from
                 some media Uri. -->
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/audio"/>
            </intent-filter>
        </activity>
        
    </application>
</manifest> 
