<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hlidskialf.android.tonepicker"
      android:versionCode="300000"
      android:versionName="3.0.0">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher_tonepicker"
        >

        <activity android:name=".TonePickerSplash"
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher_tonepicker"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TonePicker" 
                  android:label="@string/app_name"
                  android:icon="@drawable/ic_launcher_tonepicker"
                  android:theme="@style/PickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.RINGTONE_PICKER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".OtherIntentPicker"
                  android:theme="@style/PickerTheme"
                  />

    </application>
</manifest> 
